 html,body,header,
.landing {
  overflow-x: hidden;
  height: 100%;
  scroll-behavior: smooth;
  font-family: 'Eczar', serif;
  
}
body{
  margin: 0;
  padding: 0;
}

.var{
  text-align: center;
}

.gift{
  text-align: center;
}

h1 {
  letter-spacing: 10px;
  color:rgb(5, 172, 5);
  font-weight:bolder;
  font-family: 'Wallpoet', cursive;
  font-size: 70px;
  text-shadow: 2px 2px 5px rgb(5, 45, 156);
} 

h5 {
  letter-spacing: 3px;
}
#overlay{
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  position: absolute;
}

#head{
  padding-top: 10%;
}
nav .navbar{
  width: 100%;
  padding-right: 0px;
}
.navbar-brand{
  margin-right: 30%;
  font-weight:800;
}
.nav-item a{

  font-size: 20px;
  font-weight: 700;
  float: left;;
}
.landing{
  background-image: url("../img/italy-pizza.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  padding-bottom: 20px;
  position: relative;
  overflow-x: hidden;
}
.text a{
  font-size: 20px;
  font-weight: 700;
}
.text h5{
  font-size: 25px;
  padding: 30px;
}
.button{
  border-radius: 10px;
}
.card-title{
  text-align: center;
  color:peru;
  font-weight: 800;
}

.col-md-4{
  border-radius: 10%;
  padding: 10px;
}
#about-us{
  min-height: 70vh;
  align-items: center;
}
.about-pic {
  background-color:grey;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
}
#about-us .content{
  padding: 65px 50px 85px;
  width: 100%; 

  float:right;
  text-align: justify;
  overflow-x: hidden; 
  background-color:grey;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
}
.d-flex{
  display: flex !important;
}
.arrow{
  position: relative;
  left: 50%;
  top: 90%;
  margin-left:-20px;
  
} 
.piz{
  animation: bounce 3s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-35px);
  }
  60% {
    transform: translateY(-20px);
  }

}
.bounce {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-35px);
  }
  60% {
    transform: translateY(-20px);
  }
}
.order h2{
  text-align: center;
}

.order{
  background-attachment: fixed;
  background-image: url("../img/italy-pizza.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-top: 4%;
  padding-bottom: 4%;
}

 .order-overlay{
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 20px;
  padding-left: 6%;
}
 
.choise{
  padding-left: 3%;
  padding-right: 3%;
}  

.delivery{

  padding-left: 8%;
  padding-right: 8%;
}
td,th{
  font-size: 20px;
  color: white;
}

#contact h2{
  text-align: center;
}

#contactdetails h2{
  text-align: left;
  color: #ffa500;
}
#contact{
  color: blueviolet;
  background-color: wheat;
  padding: 100px;
  margin-top: 10px;
  margin-bottom:0%;
  position: abosolute;

  }
.footer{
  padding-top: 5%;
}
#addedprice{
  display: none;
}

 #regards{
  text-align: center;
  color: aliceblue;
} 
#information{
  padding-top: 5%;
  font-size: 22px;
  padding-right: 8%;
  padding-left: 5%;
  color: #ffa500;
}
@media only screen and (max-width: 485px){
  .flex-xs-column {
    flex-direction: column;
  }
}
@media only screen and (max-width: 767px){
  .section {
    padding-top: 30px;
}
.flex-xs-column {
    flex-direction: column;
}
#about-us .content {
  padding: 20px 30px 40px;
}

.order-overlay{
  background-color: rgba(0, 0, 0,0.5);
  margin-left: 2%;
  margin-right: 2%;
  padding-right: 16px;
  padding-left: 16px;
}
.order h2{
  text-align: center;
  font-size: 20px;
}
body,
header,
.landing {
  height: 100vh;
}
h1 {
  font-weight: bold;
  font-size: 40px;
}
.text h5{
  font-size: 20px;
  padding: 20px;
}
#head{
  padding-top: 30%;
}
.col-md-3{
  padding-left: 20%;
}
.iframe{
  width: 300px;
  margin-right: 5%;
  margin-left: 10%;
}
}
.mapouter {
    position: relative;
    text-align: right;
    height: 180px;
    width: 350px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 180px;
    width: 350px;
} 
  

body{
box-sizing: border-box;
}
@media only screen and (max-width: 600px){
  body{background-color:purple;}
}

.card-title1 {
  position: absolute;
  color: white;
  text-transform: uppercase;
  border:2px solid #fff;
  padding-top:30px;
  padding-bottom:30px;
  padding-left:15px;
  padding-right:15px;
  margin-left:15%;
  margin-top: 18%;
  background: rgba(12, 23,23, 0.567);
  display: none;
}

.card-title2{
  position: absolute;
  color: white;
  text-transform: uppercase;
  border:2px solid #fff;
  padding-top:30px;
  padding-bottom:30px;
  padding-left:15px;
  padding-right:15px;
  margin-left:15%;
  margin-top: 18%;
  background: rgba(12, 23,23, 0.567);
  display: none;
}


.card-title3{
  position: absolute;
  color: white;
  text-transform: uppercase;
  border:2px solid #fff;
  padding-top:30px;
  padding-bottom:30px;
  padding-left:15px;
  padding-right:15px;
  margin-left:15%;
  margin-top: 18%;
  background: rgba(12, 23,23, 0.567);
  display: none;
}

.card-title4{
  position: absolute;
  color: white;
  text-transform: uppercase;
  border:2px solid #fff;
  padding-top:30px;
  padding-bottom:30px;
  padding-left:15px;
  padding-right:15px;
  margin-left:15%;
  margin-top: 18%;
  background: rgba(12, 23,23, 0.567);
  display: none;
}

.card-title5{
  position: absolute;
  color: white;
  text-transform: uppercase;
  border:2px solid #fff;
  padding-top:30px;
  padding-bottom:30px;
  padding-left:15px;
  padding-right:15px;
  margin-left:15%;
  margin-top: 18%;
  background: rgba(12, 23,23, 0.567);
  display: none;
}

.card-title6{
  position: absolute;
  color: white;
  text-transform: uppercase;
  border:2px solid #fff;
  padding-top:30px;
  padding-bottom:30px;
  padding-left:15px;
  padding-right:15px;
  margin-left:15%;
  margin-top: 18%;
  background: rgba(12, 23,23, 0.567);
  display: none;
}
.btn{
  background-color: rgb(34, 194, 48);
}